 [Unit]
 Description=Magic Mirror
 After=multi-user.target

 [Service]
 User=pi
 Group=pi
 Type=idle
 ExecStart=/usr/local/bin/magic-mirror

 [Install]
 WantedBy=multi-user.target
